<main class="main wine-single container">
    <div class="row d-flex">
    <figure class="text-center">
        <img src="{{data.image}}" alt="{{data.wine}}" class="img-fluid home-img">
        <figcaption class="figcap">
            <h3>{{data.winery}}</h3>
            <h4>{{data.wine}}</h4>
            <p>Rating: {{@rating/average}} stars</p>
            <p>Number of revies: {{@rating/reviews}}</p>
        </figcaption>
    </figure>
</main>